/********** Base styles **********/
* {
  box-sizing: border-box;
}
body{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  
}
p {
  border: 1px solid black;
  background-color: #B59495;
  float:left;
  position: relative;
  padding: 50px 5px 5px 5px;
  margin: 15px 15px 15px 15px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;   
  }
  .col-md-6 {
    width: 50%;

  }
  .col-md-12 {
    width: 100%;
  }
}
/********** Layout specificity **********/
span.label {
    border: 1px solid black;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-right: 20px;
    padding-left:  20px;
}

span.label-one{
  background-color: #0000ff;
}

span.label-two{
  background-color: #ff0000;
}

span.label-three{
  background-color: #00ff00;
}





